* {
    box-sizing: border-box;
}

div#wrapper {
    width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: rgb(255,234,234);
}

nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

nav a {
    margin-right: 20px;
}

body {
    font-family: Arial, sans-serif;
}

section.apple, section.visuals {
    width: 50%;
    float: left;
}

article {

}